body {
	
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	border: solid 1px yellow;
}

#controls {
	position: fixed;
	top: 30px;
	left: 0px;
	bottom: 30px;
	width: 100px;
	border: solid 1px blue;
}

#controls img {
	float: left;
}

#canvas {
	position: fixed;
	top: 30px;
	left: 100px;
	right: 0px;
	bottom: 180px;
	border: solid 1px black;
}

#screen {
	position: fixed;
	bottom: 30px;
	left: 100px;
	right: 0px;
	height: 150px;
	border: solid 1px green;
}

#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	border: solid 1px red;
}
